@import 'variables.css';
@import 'normalize.css';

.header {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-4xl) var(--spacing-body);
}

.header-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-5xl);
    height: var(--full);
}

.banner {
    border-radius: var(--boldRadius);
    height: var(--banner-height);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: var(--spacing-7xl) 0;
    position: relative;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-title {
    font-size: var(--font-size-title);
    font-weight: var(--bold);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-6xl);
    margin: var(--spacing-4xl) 0;
    background-color: lightgray;
    padding: var(--spacing-5xl);
    border-radius: var(--boldRadius);
}

.gallery-card {
    border-radius: var(--lightRadius);
    aspect-ratio: 1/1;
    display: flex;
    align-items: flex-end;
    color: var(--white);
    font-weight: var(--bold);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-card__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
}

.gallery-card__overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffff00, #00000091);
    z-index: 1;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: var(--spacing-4xl) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xl);
}

.logement-tags__container {
    display: flex;
    gap: var(--spacing-md);
    flex-wrap: wrap;
}

.logement-tags {
    background-color: var(--primary);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--boldRadius);
    color: var(--white);
    font-weight: var(--bold);
}

.E404-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-E404) 0 var(--spacing-E404) 0;
}

.E404-title {
    color: var(--primary);
    font-size: var(--E404-font-size);
    font-weight: var(--bold);

}

.E404-description {
    color: var(--primary);
    font-size: var(--font-size-semititle);
    font-weight: var(--lightbold);
}

.E404-button {
    margin-top: var(--spacing-E404);
    text-decoration: underline;
    font-weight: var(--lightbold);
}

.collapse-button {
    background-color: var(--primary);
    width: 100%;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: var(--font-size-subtitle);
    font-weight: var(--bold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--lightRadius);
    padding: var(--spacing-sm) var(--spacing-md);
}

.collapse--open {
    background-color: var(--lightgray);
    border-radius: var(--lightRadius);
}

.collapse-content {
    padding: var(--spacing-md) var(--spacing-lg);
}

.logement-info,
.logement-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-xl);
}

.logement-title {
    font-size: var(--font-size-semititle);
    font-weight: var(--lightbold);
    color: var(--primary);
}

.logement-location {
    font-weight: var(--lightbold);
}

.logement-collapse-container {
    display: flex;
    margin: var(--spacing-2xl) 0;
    gap: var(--spacing-7xl);
}

.logement-collapse-container>.collapse {
    width: 50%;
}

.host-profile {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
}

.host-name {
    color: var(--primary);
    font-weight: var(--lightbold);
}

.host-img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 100%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    position: relative;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--lightRadius);
}

.btn {
    color: var(--white);
    background-color: transparent;
    font-size: var(--spacing-7xl);
    border: none;
    cursor: pointer;
    position: absolute;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.about-collapse-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
    margin: var(--spacing-4xl) 0;
}

@media screen and (max-width: 375px) {
    main {
        margin: 0 var(--spacing-lg);
    }

    .header {
        margin: var(--spacing-lg);
    }

    .header-logo {
        width: 145px;
    }

    .header-nav {
        gap: var(--spacing-xl);
    }

    .banner {
        padding: var(--spacing-2xl) var(--spacing-md);
        border-radius: var(--lightRadius);
        height:var(--banner-height-mobile);
    }

    .banner-title {
        font-size: var(--font-size-subtitle);
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        background-color: transparent;
        padding: 0;
        margin: var(--spacing-lg) 0;
        gap: var(--spacing-lg);
    }

    .footer {
        gap: var(--spacing-sm);
    }

    .about-collapse-container {
        gap: var(--spacing-lg);
        margin: var(--spacing-lg) 0;
    }

    .collapse-button{
        font-size: var(--font-size);
    }
}