@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --white: #fff;
    --black: #000;
    --primary: #FF6060;
    --lightgray: #E3E3E3;

    --lightRadius: .75rem;
    --boldRadius: 1.5rem;
    --fullRadius: 100%;

    --font-size-title: 3rem;
    --font-size-semititle: 2rem;
    --font-size-subtitle: 1.5rem;
    --font-size: 16px;

    --E404-font-size: 18rem;

    --font-title: "Montserrat", sans-serif;

    --full: 100%;

    --bold: 700;
    --lightbold: 500;
    --regular: 400;
    --light: 300;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 1.5rem;
    --spacing-2xl: 2rem;
    --spacing-3xl: 2.5rem;
    --spacing-4xl: 3rem;
    --spacing-5xl: 3.5rem;
    --spacing-6xl: 3.75rem;
    --spacing-7xl: 4rem;
    --spacing-8xl: 5rem;

    --spacing-body: 100px;

    --spacing-E404: 150px;
    --spacing-E404-mobile: 100px;


    --spacing-collapse: 200px;

    --banner-height: 14rem;
    --banner-height-mobile: 110px;

    --gallery-card-height-mobile: 250px;
}